.photo-chromic-h2{

    font-size: 6rem;
    font-weight: 800;
    z-index: 20;
  
    width: 100%;
    height: 700px;
    z-index: 20;   
    line-height: 2rem;
    background: transparent;
    color: #f3f3f3;
    font-family:  serif;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-family: serif;
    color: black;
}